# Dependencies
node_modules/
package-lock.json

# Binaries & APKs (Keep the lab, lose the bloat)
*.apk
*.dex
*.so
frida-server*

# Tools (Better to download fresh than store in Git)
tools/
jadx_gui/
*.jadx

# Logs & Temporary files
logs/
*.log
.DS_Store

# Document backups
~.docx
